:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* 默认浅色主题变量 */
  --bg-color: #ffffff;
  --text-color: #333333;
  --primary-color: #409eff;
  --secondary-color: #79bbff;
  --border-color: #dcdfe6;
  --hover-color: #ecf5ff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 深色主题变量 */
.dark {
  --bg-color: #1a1a1a;
  --text-color: #ffffff;
  --primary-color: #66b1ff;
  --secondary-color: #409eff;
  --border-color: #4c4d4f;
  --hover-color: #18222c;
}