spring:
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/liutech_ai?useUnicode=true&characterEncoding=utf8&zeroDateTimeBehavior=convertToNull&useSSL=false&serverTimezone=GMT%2B8&allowPublicKeyRetrieval=true&autoReconnect=true&failOverReadOnly=false&maxReconnects=10
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver
  ai:
    openai:
      base-url: https://api.siliconflow.cn
      api-key: "sk-mgeqjwqoregdyyngyospzepxvidnkapkxupvatavqzhtcujo"
      chat:
        options:
          model: THUDM/glm-4-9b-chat
          temperature: 0.2
server:
  base-url: http://localhost:8080
